@import url(cabecalho.css);
@import url(banner.css);
@import url(indicacoes.css);
@import url(planos.css);
@import url(servicos.css);
@import url(dispositivos.css);

:root{
    --roxo-claro: #6421ff;
    --azul: #0063e5;
    --azul-claro-transparente: #0085f167;
    --azul-escuro: #040714;
    --azul-escuro-transparente: #000000cc;
    --cinza: #C0C0C0;
    --branco: #FFF;

    --fonte-principal: 'Josefin Sans', sans-serif;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--azul-escuro);
}

.background-mobile{
    background: url(../img/background-mobile.jfif) no-repeat center center;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
}